<html>
  <head>
    <title>Simple Score Tracker</title>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script type="text/javascript" src='http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js'></script>
    <script type="text/javascript" src='app.js'></script>
  </head>
  <body ng-app='scoreTracker' ng-controller='PlayersController as players'>
    <div class='container container-fluid'>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="page-header">
            <h1>Score Tracker</h1>
            <p><strong>PLEASE NOTE:</strong> There is nothing connecting this to a database or persistance layer. So players and scores are NOT being stored. DO NOT refresh your browser or leave this page during game play. If you do, all info will be gone.</p>
          </div>

          <div class='player' ng-repeat="player in players.players">
            <span ng-click='players.incrementPoints(player)' class="glyphicon glyphicon-chevron-up"></span>
            <span ng-click='players.decrementPoints(player)' class="glyphicon glyphicon-chevron-down"></span>
            <span>{{player.name}}</span>
            : {{player.points}}
          </div>

          <br>

          <form ng-submit='players.addPlayer(players.name)'>
            <div class="form-group">
              <input type='text' ng-model='players.name' placeholder='Player Name'>
            </div>
            <div class="form-group">
              <button type='sumit'>Add Player</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>